[Unit]
Description=Run TruckersMP expired video cleanup daily

[Timer]
OnCalendar=daily
Persistent=true
Unit=truckersmp-cleanup.service

[Install]
WantedBy=timers.target
