[Unit]
Description=Clean expired TruckersMP videos

[Service]
Type=oneshot
WorkingDirectory=/var/www/truckersmp-report-site
ExecStart=/var/www/truckersmp-report-site/.venv/bin/python delete_expired.py
